#e3_2 {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  width: 1824px;
  height: 1209.1761474609375px;
}
#e37_3 {
  opacity: 1;
  width: 1797.0506591796875px;
  height: 927.510009765625px;
  position: absolute;
  left: 230px;
  top: -271px;
}
#e48_172 {
  transform: rotate(-29.997841368313992deg);
  opacity: 1;
  width: 1666.62060546875px;
  height: 1012.7034912109375px;
  position: absolute;
  left: 185.5019989013672px;
  top: 850.6463623046875px;
}
#e48_173 {
  transform: rotate(-29.997842464908125deg);
  opacity: 1;
  width: 1666.61865234375px;
  height: 57.86960220336914px;
  position: absolute;
  left: 1012.4308953002982px;
  top: 1328.03188010672px;
}
#e48_174 {
  transform: rotate(-29.9978733932565deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89470672607422px;
  height: 57.8686637878418px;
  position: absolute;
  left: 1012.4317447718024px;
  top: 1328.0323390337173px;
}
#e48_175 {
  transform: rotate(-29.997858651897264deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89481353759766px;
  height: 57.868717193603516px;
  position: absolute;
  left: 1134.7163979775014px;
  top: 1257.4368513024524px;
}
#e48_176 {
  transform: rotate(-29.99787330242747deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89494323730469px;
  height: 57.86878204345703px;
  position: absolute;
  left: 1255.999246681486px;
  top: 1187.4204465812536px;
}
#e48_177 {
  transform: rotate(-29.997858651897264deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89481353759766px;
  height: 57.868717193603516px;
  position: absolute;
  left: 1378.2837880983689px;
  top: 1116.8250306770813px;
}
#e48_178 {
  transform: rotate(-29.997838642981613deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89485931396484px;
  height: 57.86874008178711px;
  position: absolute;
  left: 1500.56905716835px;
  top: 1046.229699175611px;
}
#e48_179 {
  transform: rotate(-29.997841322158795deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.894775390625px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1622.8543436901568px;
  top: 975.6345608426136px;
}
#e48_180 {
  transform: rotate(-29.997858651897264deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89481353759766px;
  height: 57.868717193603516px;
  position: absolute;
  left: 1744.1371967393175px;
  top: 905.6180518253243px;
}
#e48_181 {
  transform: rotate(-29.997821313250306deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89482116699219px;
  height: 57.86872100830078px;
  position: absolute;
  left: 1866.422597145089px;
  top: 835.0227351128362px;
}
#e48_182 {
  transform: rotate(-29.997818634090237deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89491271972656px;
  height: 57.8687629699707px;
  position: absolute;
  left: 1988.7077346890246px;
  top: 764.4275718060821px;
}
#e48_183 {
  transform: rotate(-29.997861331091926deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89472198486328px;
  height: 57.868675231933594px;
  position: absolute;
  left: 2110.992739459802px;
  top: 693.8324539117311px;
}
#e48_184 {
  transform: rotate(-29.997838642981613deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89485931396484px;
  height: 57.86874008178711px;
  position: absolute;
  left: 2232.275479789696px;
  top: 623.815879821602px;
}
#e48_185 {
  transform: rotate(-29.997861331091926deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 116.89472198486328px;
  height: 57.868675231933594px;
  position: absolute;
  left: 2354.560651307048px;
  top: 553.220614065348px;
}
#e48_186 {
  transform: rotate(-29.997841523215683deg);
  opacity: 1;
  width: 1666.6187744140625px;
  height: 57.86918640136719px;
  position: absolute;
  left: 937.2552654521913px;
  top: 1284.6330284423573px;
}
#e48_187 {
  transform: rotate(-29.997829490994842deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62586975097656px;
  height: 57.868690490722656px;
  position: absolute;
  left: 937.2553141256997px;
  top: 1284.6330565415756px;
}
#e48_188 {
  transform: rotate(-29.99782360512212deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.6259765625px;
  height: 57.868736267089844px;
  position: absolute;
  left: 1070.5664926618529px;
  top: 1207.672947648097px;
}
#e48_189 {
  transform: rotate(-29.9978099493346deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62583923339844px;
  height: 57.86867904663086px;
  position: absolute;
  left: 1203.8770399092384px;
  top: 1130.712413280411px;
}
#e48_190 {
  transform: rotate(-29.997826102367917deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62588500976562px;
  height: 57.86869430541992px;
  position: absolute;
  left: 1336.1860172463817px;
  top: 1054.330793153927px;
}
#e48_191 {
  transform: rotate(-29.997791299075065deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.6259002685547px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1469.4962951319699px;
  top: 977.3703168927823px;
}
#e48_192 {
  transform: rotate(-29.99787705872239deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62591552734375px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1602.807575634498px;
  top: 900.4100532553784px;
}
#e48_193 {
  transform: rotate(-29.997821107879265deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62606811523438px;
  height: 57.868778228759766px;
  position: absolute;
  left: 1736.1178894628424px;
  top: 823.4496587751646px;
}
#e48_194 {
  transform: rotate(-29.997844752658153deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62583923339844px;
  height: 57.868675231933594px;
  position: absolute;
  left: 1869.429146882991px;
  top: 746.4891987187729px;
}
#e48_195 {
  transform: rotate(-29.99787705872239deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.6259307861328px;
  height: 57.868709564208984px;
  position: absolute;
  left: 2001.7374868826591px;
  top: 670.1075768443976px;
}
#e48_196 {
  transform: rotate(-29.997826102367917deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.62588500976562px;
  height: 57.86869812011719px;
  position: absolute;
  left: 2135.048681588368px;
  top: 593.1471416141334px;
}
#e48_197 {
  transform: rotate(-29.997842255396748deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 129.6259307861328px;
  height: 57.86871337890625px;
  position: absolute;
  left: 2268.359435429644px;
  top: 516.1868180598733px;
}
#e48_198 {
  transform: rotate(-29.99784232054423deg);
  opacity: 1;
  width: 1666.6195068359375px;
  height: 57.86988067626953px;
  position: absolute;
  left: 862.0796437226345px;
  top: 1241.2346603405654px;
}
#e48_199 {
  transform: rotate(-29.997821954904765deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82920837402344px;
  height: 57.86872482299805px;
  position: absolute;
  left: 862.0806038132096px;
  top: 1241.2352146009107px;
}
#e48_200 {
  transform: rotate(-29.997860274509083deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.8292694091797px;
  height: 57.868751525878906px;
  position: absolute;
  left: 1008.4214880733637px;
  top: 1156.7519022954887px;
}
#e48_201 {
  transform: rotate(-29.99787115651659deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.8291473388672px;
  height: 57.86870193481445px;
  position: absolute;
  left: 1154.7623638239px;
  top: 1072.2691343580611px;
}
#e48_202 {
  transform: rotate(-29.997821954904765deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82920837402344px;
  height: 57.86872482299805px;
  position: absolute;
  left: 1301.1036658783441px;
  top: 987.7863073700172px;
}
#e48_203 {
  transform: rotate(-29.99780938537125deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82907104492188px;
  height: 57.86867141723633px;
  position: absolute;
  left: 1447.4446403821826px;
  top: 903.3034133493443px;
}
#e48_204 {
  transform: rotate(-29.997836823025548deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82925415039062px;
  height: 57.868743896484375px;
  position: absolute;
  left: 1593.7859340268467px;
  top: 818.8206425375114px;
}
#e48_205 {
  transform: rotate(-29.997853989761754deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82919311523438px;
  height: 57.86872482299805px;
  position: absolute;
  left: 1740.1276139775052px;
  top: 734.3379116466192px;
}
#e48_206 {
  transform: rotate(-29.997839121636183deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82916259765625px;
  height: 57.86870574951172px;
  position: absolute;
  left: 1886.4686875910725px;
  top: 649.8549527796437px;
}
#e48_207 {
  transform: rotate(-29.99785628838411deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.8291015625px;
  height: 57.86868667602539px;
  position: absolute;
  left: 2032.8100881666658px;
  top: 565.3723047302201px;
}
#e48_208 {
  transform: rotate(-29.997839121636183deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 145.82916259765625px;
  height: 57.86870574951172px;
  position: absolute;
  left: 2179.1512868479585px;
  top: 480.88929600249475px;
}
#e48_209 {
  transform: rotate(-29.997842736422164deg);
  opacity: 1;
  width: 1666.6190185546875px;
  height: 57.86922836303711px;
  position: absolute;
  left: 786.9045913517039px;
  top: 1197.83559736096px;
}
#e48_210 {
  transform: rotate(-29.997842736422164deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.50442504882812px;
  height: 57.86867141723633px;
  position: absolute;
  left: 786.904902484531px;
  top: 1197.8357769779623px;
}
#e48_211 {
  transform: rotate(-29.997862165216226deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.5044403076172px;
  height: 57.86867904663086px;
  position: absolute;
  left: 949.2834113716737px;
  top: 1104.0945848014044px;
}
#e48_212 {
  transform: rotate(-29.997846510557945deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.50448608398438px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1111.6618321142946px;
  top: 1010.3532501922411px;
}
#e48_213 {
  transform: rotate(-29.99781729741548deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.50450134277344px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1274.0406355182527px;
  top: 916.612105977905px;
}
#e48_214 {
  transform: rotate(-29.997830855914476deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.50454711914062px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1437.4213802765883px;
  top: 822.2922009258959px;
}
#e48_215 {
  transform: rotate(-29.99781520128512deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.5045928955078px;
  height: 57.86872863769531px;
  position: absolute;
  left: 1599.8004852325482px;
  top: 728.5511392507841px;
}
#e48_216 {
  transform: rotate(-29.997862165216226deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.5044403076172px;
  height: 57.868675231933594px;
  position: absolute;
  left: 1762.1793618466475px;
  top: 634.8098236915446px;
}
#e48_217 {
  transform: rotate(-29.997830855914476deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.50454711914062px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1924.558001094003px;
  top: 541.0686152251794px;
}
#e48_218 {
  transform: rotate(-29.997837635162902deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 165.5045623779297px;
  height: 57.86872100830078px;
  position: absolute;
  left: 2086.936563193543px;
  top: 447.32748428373134px;
}
#e48_219 {
  transform: rotate(-29.997839351104627deg);
  opacity: 1;
  width: 1666.619140625px;
  height: 57.870079040527344px;
  position: absolute;
  left: 711.7289128886401px;
  top: 1154.4369568555421px;
}
#e48_220 {
  transform: rotate(-29.99784045356deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49464416503906px;
  height: 57.86871337890625px;
  position: absolute;
  left: 711.7300845365843px;
  top: 1154.4376319650428px;
}
#e48_221 {
  transform: rotate(-29.997852633230508deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49464416503906px;
  height: 57.868709564208984px;
  position: absolute;
  left: 895.1567083604025px;
  top: 1048.544156560529px;
}
#e48_222 {
  transform: rotate(-29.9978402898784deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49459838867188px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1077.5819879481476px;
  top: 943.2299685207315px;
}
#e48_223 {
  transform: rotate(-29.9978279465239deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.4945526123047px;
  height: 57.86868667602539px;
  position: absolute;
  left: 1261.0103278928584px;
  top: 837.3372231674571px;
}
#e48_224 {
  transform: rotate(-29.9978402898784deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49459838867188px;
  height: 57.86870193481445px;
  position: absolute;
  left: 1443.435508884813px;
  top: 732.0229934661045px;
}
#e48_225 {
  transform: rotate(-29.997852633230508deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49464416503906px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1626.8630285025165px;
  top: 626.1300796939261px;
}
#e48_226 {
  transform: rotate(-29.99783220992323deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.4946746826172px;
  height: 57.86872482299805px;
  position: absolute;
  left: 1809.2881756829531px;
  top: 520.816013566706px;
}
#e48_227 {
  transform: rotate(-29.997846461554296deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 187.49461364746094px;
  height: 57.868709564208984px;
  position: absolute;
  left: 1992.7165564409452px;
  top: 414.92310868141675px;
}
#e48_228 {
  transform: rotate(-29.99784327945042deg);
  opacity: 1;
  width: 1666.618896484375px;
  height: 57.869102478027344px;
  position: absolute;
  left: 636.5543452377816px;
  top: 1111.038346421137px;
}
#e48_229 {
  transform: rotate(-29.99784327945042deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.58648681640625px;
  height: 57.86874771118164px;
  position: absolute;
  left: 636.5543452377816px;
  top: 1111.038346421137px;
}
#e48_230 {
  transform: rotate(-29.997838792038596deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.58639526367188px;
  height: 57.86872100830078px;
  position: absolute;
  left: 846.0426324418775px;
  top: 990.1008615116318px;
}
#e48_231 {
  transform: rotate(-29.997857834143662deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.5863037109375px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1054.5294996451998px;
  top: 869.7416755275478px;
}
#e48_232 {
  transform: rotate(-29.997810454840224deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.58631896972656px;
  height: 57.86870193481445px;
  position: absolute;
  left: 1264.0175519009117px;
  top: 748.8039481777589px;
}
#e48_233 {
  transform: rotate(-29.99784683922264deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.5862579345703px;
  height: 57.86868667602539px;
  position: absolute;
  left: 1473.5059386694425px;
  top: 627.8662613643008px;
}
#e48_234 {
  transform: rotate(-29.997852336683902deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.58628845214844px;
  height: 57.86869430541992px;
  position: absolute;
  left: 1681.9921609763153px;
  top: 507.5071150419002px;
}
#e48_235 {
  transform: rotate(-29.997834144486283deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 217.58631896972656px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1891.4809608224532px;
  top: 386.5694225734635px;
}
#e48_236 {
  transform: rotate(-29.997840980187636deg);
  opacity: 1;
  width: 1666.619140625px;
  height: 57.869075775146484px;
  position: absolute;
  left: 561.37874251461px;
  top: 1067.639540128724px;
}
#e48_237 {
  transform: rotate(-29.997840980187636deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.93701171875px;
  height: 57.86869430541992px;
  position: absolute;
  left: 561.3788333667127px;
  top: 1067.6395925776455px;
}
#e48_238 {
  transform: rotate(-29.997849318987107deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.9370422363281px;
  height: 57.86870193481445px;
  position: absolute;
  left: 805.9493604098272px;
  top: 926.4492588399637px;
}
#e48_239 {
  transform: rotate(-29.99782303659905deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.9371032714844px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1049.5168302568895px;
  top: 785.8374384671558px;
}
#e48_240 {
  transform: rotate(-29.997853385591664deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.9371337890625px;
  height: 57.86872100830078px;
  position: absolute;
  left: 1294.0873490105096px;
  top: 644.6471304595366px;
}
#e48_241 {
  transform: rotate(-29.997859683213456deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.9370422363281px;
  height: 57.86870193481445px;
  position: absolute;
  left: 1537.6557740741223px;
  top: 504.03522070592373px;
}
#e48_242 {
  transform: rotate(-29.997848575316365deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 256.9371032714844px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1782.2259447712622px;
  top: 362.8448338276404px;
}
#e48_243 {
  transform: rotate(-29.997842464908125deg);
  opacity: 1;
  width: 1666.6190185546875px;
  height: 57.86917495727539px;
  position: absolute;
  left: 486.20300345742453px;
  top: 1024.240934604295px;
}
#e48_244 {
  transform: rotate(-29.997842464908125deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 314.80584716796875px;
  height: 57.868717193603516px;
  position: absolute;
  left: 486.20311248749334px;
  top: 1024.2409975473606px;
}
#e48_245 {
  transform: rotate(-29.99783285349264deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 314.8058166503906px;
  height: 57.86870574951172px;
  position: absolute;
  left: 778.8855976802702px;
  top: 855.2752444054056px;
}
#e48_246 {
  transform: rotate(-29.997843492941627deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 314.8056335449219px;
  height: 57.868675231933594px;
  position: absolute;
  left: 1071.5679761874355px;
  top: 686.309673798551px;
}
#e48_247 {
  transform: rotate(-29.997823470436057deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 314.80584716796875px;
  height: 57.86872100830078px;
  position: absolute;
  left: 1364.2510477874034px;
  top: 517.3440455803819px;
}
#e48_248 {
  transform: rotate(-29.99783488516223deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 314.8058166503906px;
  height: 57.868709564208984px;
  position: absolute;
  left: 1656.9332778736136px;
  top: 348.378480836867px;
}
#e48_249 {
  transform: rotate(-29.99784286357204deg);
  opacity: 1;
  width: 1666.6190185546875px;
  height: 57.869747161865234px;
  position: absolute;
  left: 411.02792876362025px;
  top: 980.8420981208026px;
}
#e48_250 {
  transform: rotate(-29.997851815706507deg);
  background-color: rgba(199.57089990377426, 255, 242.55673170089722, 1);
  opacity: 1;
  width: 398.1367492675781px;
  height: 57.868717193603516px;
  position: absolute;
  left: 411.02884370071774px;
  top: 980.8426172042823px;
}
#e48_251 {
  transform: rotate(-29.99783142193859deg);
  background-color: rgba(199.57089990377426, 255, 242.55673170089722, 1);
  opacity: 1;
  width: 398.13671875px;
  height: 57.86870574951172px;
  position: absolute;
  left: 776.8808970326352px;
  top: 769.6351701981893px;
}
#e48_252 {
  transform: rotate(-29.997860555327726deg);
  background-color: rgba(199.57089990377426, 255, 242.55673170089722, 1);
  opacity: 1;
  width: 398.1366271972656px;
  height: 57.86869812011719px;
  position: absolute;
  left: 1143.7367771236234px;
  top: 557.8495839550785px;
}
#e48_253 {
  transform: rotate(-29.997830908544483deg);
  background-color: rgba(199.57089990377426, 255, 242.55673170089722, 1);
  opacity: 1;
  width: 398.1367492675781px;
  height: 57.86871337890625px;
  position: absolute;
  left: 1509.5901400824214px;
  top: 346.64251769983645px;
}
#e48_254 {
  transform: rotate(-29.997840437159848deg);
  opacity: 1;
  width: 1666.6190185546875px;
  height: 57.87031555175781px;
  position: absolute;
  left: 335.8525382927321px;
  top: 937.4433829042557px;
}
#e48_255 {
  transform: rotate(-29.99784132026709deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 539.33642578125px;
  height: 57.868717193603516px;
  position: absolute;
  left: 335.8539236454196px;
  top: 937.4441816384841px;
}
#e48_256 {
  transform: rotate(-29.997833306468863deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 539.3363037109375px;
  height: 57.86870193481445px;
  position: absolute;
  left: 823.9907112255223px;
  top: 655.6412083608202px;
}
#e48_257 {
  transform: rotate(-29.997840913418486deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 539.3363647460938px;
  height: 57.868709564208984px;
  position: absolute;
  left: 1312.1295226854372px;
  top: 373.83903625205204px;
}
#e48_258 {
  transform: rotate(-29.997843550964642deg);
  opacity: 1;
  width: 1666.6190185546875px;
  height: 57.868858337402344px;
  position: absolute;
  left: 260.67782689964633px;
  top: 894.0448401944495px;
}
#e48_259 {
  transform: rotate(-29.997843550964642deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 821.7357788085938px;
  height: 57.86871337890625px;
  position: absolute;
  left: 260.67782689964633px;
  top: 894.0448401944495px;
}
#e48_260 {
  transform: rotate(-29.997845323711527deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 821.7357177734375px;
  height: 57.868709564208984px;
  position: absolute;
  left: 992.3843132995764px;
  top: 471.63075250393626px;
}
#e48_261 {
  transform: rotate(-29.99784283784924deg);
  opacity: 1;
  width: 1666.618896484375px;
  height: 57.868709564208984px;
  position: absolute;
  left: 185.5035577824391px;
  top: 850.6455117201384px;
}
#e48_262 {
  transform: rotate(-29.99784283784924deg);
  background-color: rgba(
    144.00000661611557,
    19.0000007674098,
    254.00000005960464,
    1
  );
  opacity: 1;
  width: 1666.618896484375px;
  height: 57.868709564208984px;
  position: absolute;
  left: 185.5035577824391px;
  top: 850.6455117201384px;
}
#e37_38 {
  opacity: 1;
  width: 1369px;
  height: 203px;
  position: absolute;
  left: 685px;
  top: 735.1761474609375px;
}
#e37_40 {
  color: rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
  opacity: 1;
  width: 1369px;
  height: 203px;
  position: absolute;
  left: 685px;
  top: 735.1761474609375px;
  text-align: left;
  font-size: 144px;
  letter-spacing: 0;
  line-height: 48px;
}
